.orderContainer {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  margin: 0.33rem 0rem;
  border: 1px solid;
}

.taskContainer {
  display: block;
  position: relative;
  border-bottom: 0.1rem solid grey;
  text-align: left;
  font-size: 1.5rem;
  padding: 0.2rem;
}

.taskText {
  padding-left: 2rem;
}

.rankButton {
  border-width: 1px 1px 1px 1px;
  padding: .125rem;
  font-size: 1rem;
  cursor: pointer;
}

.rankButton:hover {
  background-color: lightgray;
}

.rankButton:focus {
  background-color:lightgray;
}

/* Hide default checkbox */
.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Custom checkmark box beside each task. 
Background color changes depend if checked and if hovered. */
.checkmark {
  position: absolute;
  left: 0.2rem;
  top: 0.4rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}

.checkmark:hover {
  background-color: rgb(175,175,175);
}

.taskContainer input:checked ~.checkmark{
  background-color: rgb(175, 175, 175)
}

.taskContainer input:checked ~.checkmark:hover{
  background-color: rgb(206, 206, 206)
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.taskContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Checkmark is a rotated no content span */
.checkmark:after {
  left: 0.5rem;
  top: 0.15rem;
  width: 0.33rem;
  height: 0.75rem;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}