@import "../../styles/shared.scss";

.input-container-textarea {
  @extend %InputArea-Container-Bordered;

  .input-textarea-labels {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5rem;
    .input-textarea-description {
      text-align: left;
      font-size: 1rem;
    }

    .input-textarea-label {
      text-align: left;
      font-size: 1.25rem;
      padding-right: 1rem;
    }
  }

  .form-input-textarea {
    overflow: hidden;
    vertical-align: top;
    width: 100%;
    padding: 0.5rem 0.5rem;
    resize: none;
    min-height: 100%;
    max-height: 300px;
  }
}
