.input-container-textarea {
  display: block;
  margin: 1rem;
  border: 1px solid black;

  .input-textarea-labels {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5rem;
    .input-textarea-description {
      text-align: left;
      font-size: 1rem;
    }

    .input-textarea-label {
      text-align: left;
      font-size: 1.25rem;
      padding-right: 1rem;
    }
  }

  .form-input-textarea {
    width: 100%;
    padding: 0.5rem 0.5rem;
    resize: none;
    min-height: 50px;
    max-height: 300px;
  }
}
