@import "../../styles/shared.scss";

.listitems-container {
  @extend %DisplayContainer-Bordered;

  .listitems-item {
    @extend %DisplayText;
  }

  .listitems-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .listitems-label {
    @extend %DisplayLabel;
  }
}
