@import "../../styles/shared.scss";

.display-multiple-container {
  @extend %DisplayContainer-Bordered;

  .display-multiple-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;

    .display-multiple-item-label {
      @extend %DisplayLabel;
    }
    .display-multiple-item-text {
      @extend %DisplayText;
    }
  }
}
