@import "../../styles/shared.scss";

.add-skill-button {
  @extend %ButtonBase;
  background-color: $success-background-color;
  color: $primary-color;
}

.add-skill-extras-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
