// background color of the page / containers.
$primary-background: rgb(240, 240, 240);
$secondary-background: rgb(200, 200, 200);
$tertiary-background: rgb(220, 220, 220);

$success-background-color: rgb(137, 218, 137);
$error-background-color: rgb(218, 137, 137);
$editable-text-background: rgb(255, 255, 255);

// primary text color for everything
$primary-text-color: rgb(20, 20, 20);
// used on buttons / non primary-tertiary bg color users.
$secondary-text-color: rgb(220, 220, 220);
$tertiary-text-color: rgb(240, 240, 240);

// colors buttons and checkboxes.
$primary-color: rgb(20, 20, 20);
$secondary-color: rgb(40, 40, 40);
$tertiary-color: rgb(60, 60, 60);

// $button-background-color: rgb(20, 20, 20);
// $button-alt-color: rgb(40,40,40);
// $button-text-color: rgb(220, 220, 220);
// $button-text-alt-color: rgb(240, 240, 240);

$font-weight-base: 600;

%ButtonBase {
  background-color: $primary-color;
  color: $secondary-text-color;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  opacity: 1;
  &:focus,
  &:hover,
  &:active {
    background-color: $secondary-color;
    color: $tertiary-text-color;
    cursor: pointer;
  }
}

// Each discrete section of the site. (DM, PHQ9, Coping Skills etc.)
%SectionBase {
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  background-color: $primary-background;
  padding: 0.5rem;
}

// Titles for each section of site.
%TitleBase {
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0;
}

// Descrption text, if present, for section of site.
%DescriptionBase {
  padding: 0.5rem 1rem;
  text-align: left;
}

%DisplayContainer {
  display: flex;
  text-align: left;
  background-color: $primary-background;
  margin: 1rem;
  align-items: baseline;
}

%DisplayContainer-Bordered {
  @extend %DisplayContainer;
  border: 1px solid black;
}

%DisplayText {
  background-color: $primary-background;
  color: $primary-text-color;

  display: block;
  white-space: pre-line;
  padding: 0.5rem;
}

%DisplayLabel {
  background-color: $primary-background;
  color: $primary-text-color;

  display: block;
  padding: 0.5rem;

  font-size: 1.25rem;
}

%InputArea-Container-Bordered {
  display: block;
  margin: 1rem;
  border: 1px solid $primary-color;
}
