$primary-background: rgb(240, 240, 240);
$secondary-background: rgb(220, 220, 220);

$primary-text-color: rgb(20, 20, 20);

$button-background-color: rgb(20, 20, 20);
$button-text-color: rgb(220, 220, 220);

$font-weight-base: 600;

%ButtonBase {
  background-color: $button-background-color;
  color: $button-text-color;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  opacity: 1;
  &:focus,
  &:hover,
  &:active {
    transition: opacity 0.15s ease-in;
    cursor: pointer;
    opacity: 0.9;
  }
}

// Each discrete section of the site. (DM, PHQ9, Coping Skills etc.)
%SectionBase {
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  background-color: $primary-background;
  padding: 0.5rem;
}

// Titles for each section of site.
%TitleBase {
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0;
}

// Descrption text, if present, for section of site.
%DescriptionBase {
  padding: 0.5rem 1rem;
  text-align: left;
}

%DisplayContainer {
  display: flex;
  text-align: left;
  background-color: $primary-background;
  margin: 1rem;
  align-items: baseline;
}

%DisplayText {
  background-color: $primary-background;
  color: $primary-text-color;

  display: block;
  white-space: pre-line;
  padding: 0.5rem;
}

%DisplayLabel {
  background-color: $primary-background;
  color: $primary-text-color;

  display: block;
  padding: 0.5rem;

  font-size: 1.25rem;
}

%DisplayContainer-Bordered {
  @extend %DisplayContainer;
  border: 1px solid black;
}
