$primary-background: rgb(240, 240, 240);
$secondary-background: rgb(220, 220, 220);

$primary-text-color: rgb(20, 20, 20);


$button-background-color: rgb(20,20,20);
$button-text-color: rgb(220, 220, 220);