.form-container {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-modal {
  background-color: white;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  margin: 2rem auto;
  text-align: center;
  /* Add Media-queries. */
  width: 75%;
  max-width: 35rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
}

.modal-close {
  float: right;
  font-size: 2.5rem;
  padding-right: 0.75rem;
  font-style: bold;
  cursor: pointer;
}

.modal-close:hover {
  color: gray;
  cursor: pointer;
}

.form-input-container {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  padding-right: 1rem;
  width: 35%;
  text-align: left;
}

.form-submit {
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;
  float: right;
  margin-right: 2rem;
}

.form-input {
  width: 50%;
}
