@import "../../styles/shared.scss";

.form-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-title {
    font-size: 1.5rem;
    margin: 0.5rem auto;
  }

  .form-modal {
    background-color: $primary-background;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: $secondary-color;
    margin: 2rem auto;
    text-align: center;
    /* Add Media-queries. */
    width: 75%;
    max-width: 35rem;
    box-shadow: 0px 0px 2px 0px $secondary-color;
    padding-bottom: 2rem;
  }

  .form-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modal-close {
    float: right !important;
    font-size: 2.5rem;
    padding-right: 0.75rem;
    font-style: bold;
    cursor: pointer;
  }

  .modal-close:hover {
    color: $secondary-color;
    cursor: pointer;
  }

  .form-entries-container {
    margin: auto;
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .form-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  label {
    line-height: 1.25rem;
    padding-right: 1rem;
    text-align: right;
  }

  .form-submit {
    @extend %ButtonBase;
    display: block;
    margin-left: auto;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
  }

  .form-input {
    background-color: $secondary-background;
    padding: 0.25em 0.5em;
  }
}
