@import "../../styles/shared.scss";

.dateContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid $tertiary-background;
}

.DateNavButton {
  @extend %ButtonBase;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 6rem;
}

.DateDisplay {
  font-size: 1.5rem;
  padding: 0.5rem;
}
