@import "../../styles/shared.scss";

.dateContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid $tertiary-background;
}

.DateNavButton {
  @extend %ButtonBase;
  padding: 0.5em;
  margin-bottom: 0.5em;
  width: 6rem;
}

.DateDisplay {
  font-size: 1.5em;
  padding: 0.5em;

  @media screen and (max-width: 30em) {
    font-size: 1em;
  }
}
