.DefaultSelect {
  color: black;
  background-color: rgb(200, 200, 200);
  margin: 0;
  padding: 0;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
