.DefaultSelect {
    color: black;
    margin: 0;
    padding: 0;
    &:hover{
        background-color: rgba(0, 0, 0, 0.20);
    }
    &:focus{
        background-color: rgba(0, 0, 0, 0.20);
    }
    @media screen and (min-width: 60rem) {
        max-width: 11rem;
    }
    @media screen and (min-width: 30rem) and (max-width: 60rem) {
        max-width: 8rem;
    }
    @media screen and (max-width: 30rem) {
        max-width: 6rem;
    }
   
}