@import "../../styles/shared.scss";

.navHeader {
  background-color: $primary-color;
  width: 100%;
  // font sizes done for all nav elements based on screen sizes.
  @media screen and (min-width: 60em) {
    font-size: 1rem;
  }
  // Medium
  @media screen and (min-width: 30em) and (max-width: 60em) {
    font-size: 0.75rem;
  }
  // Small
  @media screen and (min-width: 20em) and (max-width: 30em) {
    font-size: 0.55rem;
  }

  // Nav elements in an ul
  ul {
    // each one is an li.
    li {
      cursor: pointer;
      display: inline-block;
      // far left nav is an image to click to go home.
      img {
        padding-left: 0.5rem;
        vertical-align: middle;
        // Large
        @media screen and (min-width: 60em) {
          height: 2rem;
          width: 2rem;
        }
        // Medium
        @media screen and (min-width: 30em) and (max-width: 60em) {
          height: 1.5rem;
          width: 1.5rem;
        }
        // Small
        @media screen and (max-width: 30em) {
          height: 1rem;
          width: 1rem;
        }
        &:focus,
        &:hover,
        &:active {
          cursor: pointer;
          opacity: 0.5;
          transition: opacity 0.15s ease-in;
        }
      }
      // the rest of them are buttons in an li
      // slightly increased opacity in transition vs normal buttons.
      button {
        @extend %ButtonBase;
        &:focus,
        &:hover,
        &:active {
          opacity: 0.7;
        }
        // Large
        @media screen and (min-width: 60em) {
          padding: 1rem;
        }
        // Medium
        @media screen and (min-width: 30em) and (max-width: 60em) {
          padding: 0.65rem;
        }
        // Small
        @media screen and (min-width: 20em) and (max-width: 30em) {
          padding: 0.4rem;
        }
      }
    }
    // last li element is signin/logout so float right.
    // also added register to float right
    .sign-ins {
      float: right;
    }
  }
}
