@import '../../styles/shared.scss';

.InputContainer {
    padding: 0.5rem;
}

.InputField {
    padding: 0.5rem;
    background-color: white;
    color: $primary-text-color;
    // Large screens
    @media screen and (min-width:60em) {
        width: 80%;
    }
    // Medium
    @media screen and (min-width:30em) and (max-width: 60em) {
        width: 75%;
    }
    // Small
    @media screen and (max-width: 30em) {
       width: 100%;
    }
}

.AddTaskButton {
    @extend %ButtonBase;
    float: right;
    // Large
    @media screen and (min-width:60em) {
        width: 20%;
    }
    // Medium
    @media screen and (min-width:30em) and (max-width: 60em) {
        width: 25%;
    }
    // Small
    @media screen and (max-width: 30em) {
       width: 100%;
    }
}