.collapsible {
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    background-color: lightgray;
}

.active, .collapsible:hover {
    background-color: #ccc
}

.collapsibleContent {
    /* display: none; */
    background-color: #f1f1f1;
    padding: 0 2rem;
    text-align: left;
    /* Animated collapsible stuff */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    border-bottom: 1px solid black;
}

.collapsibleInnerButton {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
    padding: 0.5rem;
    margin: 1rem;
    text-align: left;
    float: right;
}