@import "../../styles/shared.scss";

.historySelectContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;

  .historySelectContainerText {
    vertical-align: text-bottom;
    line-height: 23px;
    padding-right: 0.2rem;
  }
}

.HistorySection {
  @extend %SectionBase;
}

.historyChartContainer {
  margin: auto;
  height: 70vh;

  @media screen and (min-width: 60rem) {
    max-width: 70vw;
  }
  @media screen and (min-width: 30rem) and (max-width: 60rem) {
    max-width: 80vw;
  }
  @media screen and (max-width: 30rem) {
    max-width: 90vw;
  }
}
