@import "../../styles/shared.scss";

.input-checkbox-list-container-outer {
  display: block;
  margin: 1rem;
  border: 1px solid $primary-color;

  .input-checkbox-list-labels {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: nowrap;
    text-align: left;
    padding: 0.5rem;
    .input-checkbox-list-description {
      text-align: left;
      font-size: 1rem;
    }

    .input-checkbox-list-label {
      text-align: left;
      font-size: 1.25rem;
      padding-right: 1rem;
    }
  }

  .input-checkbox-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
