@import "../../styles/shared.scss";

/* Button that holds title */
.collapsible {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  background-color: $secondary-background;
  border-bottom: 1px solid $primary-color;
}

.collapsibleTitleInput {
  padding: 1rem;
  width: 100%;
  text-align: left;
  background: $secondary-background;
  border-bottom: 1px solid $primary-color;
}

/* Change title background color on hover */
.collapsible:focus,
.collapsible:active,
.collapsible:hover {
  background-color: $tertiary-background;
}

/* Div that holds the description & share / add button */
.collapsibleContent {
  background-color: $primary-background;
  text-align: left;
  /* Animated collapsible stuff */
  overflow: hidden;
  display: none;
  max-height: 0;
  transition: max-height 0.3s ease;
  border-bottom: 1px solid $primary-color;

  ion-icon {
    font-size: 24px;
    float: right;
    padding: 0.2rem;
    padding-bottom: 0.5rem;
  }
}

/* Inner text for coping skill. */
.collapsibleText {
  width: 100%;
  padding: 1rem 0.5rem 1rem 2rem;
  box-sizing: border-box;
  white-space: pre-wrap;
  float: left;
}

.collapsibleTextArea {
  width: 100%;
  padding: 1rem 0.5rem 1rem 2rem;
  background: $editable-text-background;
  white-space: pre-wrap;
}
