.dlt-container {
  padding-top: 1rem;
}

.dlt-label {
  font-size: 1.25rem;
  padding: 0.5rem;
  text-align: left;
}

.dlt-text {
  white-space: pre-wrap;
  font-size: 1rem;
  text-align: left;
  padding: 0.5rem;
  line-height: 1.4rem;
}
