.input-container-text {
  text-align: left;
  display: flex;
  align-items: baseline;
  margin: 1rem;
  border: 1px solid black;
  .input-text-label {
    padding: 0.5rem;
    font-size: 1.25rem;
  }
  .input-text {
    padding: 0.5rem;
    line-height: 1rem;
    width: 100%;
  }
}
