@import "../../styles/shared.scss";

.input-container-text {
  @extend %InputArea-Container-Bordered;
  text-align: left;
  display: flex;
  align-items: baseline;
  .input-text-label {
    padding: 0.5rem;
    font-size: 1.25rem;
  }
  .input-text {
    padding: 0.5rem;
    line-height: 1rem;
    width: 100%;
  }
}
