@import "../../styles/shared.scss";

.CBTSection {
  @extend %SectionBase;
}

.cbt-event-input-container {
  margin: 1rem;
  display: block;
}

.cbt-event-list-container {
  // Small
  @media screen and (max-width: 30em) {
    margin-top: 2.5em;
  }
}
