@import "../../styles/shared.scss";

.CBTSection {
  @extend %SectionBase;
}

.cbt-event-input-container {
  display: block;
}

.cbt-event-submit {
  @extend %ButtonBase;
  padding-left: 2em;
  padding-right: 2em;
}
